<div class="btn-group mb-3">
    <a class="btn btn-sm btn-success" asp-controller="Employee" asp-action="New"> <span class="fa fa-plus"></span> New</a>
    <a class="btn btn-sm btn-primary" asp-controller="Employee" asp-action="Index"> <span class="fa fa-search"></span> Search</a>
</div>