@model MediatrPattern.Entities.Employee

<a class="btn btn-sm btn-primary" asp-area="" asp-action="Edit" asp-route-id="@Model.Id">
    <i class="fa fa-pencil"></i> Edit
</a>
<a class="btn btn-sm btn-danger" asp-area="" asp-action="Remove" asp-route-id="@Model.Id">
    <i class="fa fa-trash"></i> Remove
</a>